* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Courier New', Courier, monospace;

}

p {
    text-indent: 10px;
}

body {
    line-height: 145%;
    
}

#section-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#section-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}